<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/#querystring">Query string</a></li>
    <li><a href="#/#about">About</a></li>
  </ul>
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="control-label" for="formfilter">Filter</label>
      <input type="text" class="form-control" id="formfilter" placeholder="Filter the properties" ng-model="formfilter">
    </div>
  </form>
  <h3 class="text-muted">MemberQueryBuilder</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group" ng-repeat="c in criteria | filter:formfilter" repeat-done="tooltips()">
    <label for="{{c.name}}" class="col-sm-4 control-label" data-toggle="tooltip" data-placement="right" title="{{c.equals}}">{{c.name}}</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="{{c.name}}" data-toggle="tooltip" data-placement="bottom" title="{{c.explanation}}" placeholder="e.g. {{c.example | split:'=':1}}" ng-model="query[c.name]">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Build Query</button>
  <button type="reset" class="btn btn-danger">Clear</button>
</form>

<a id="querystring"></a>
<div class="panel panel-default" ng-if="querystring">
  <div class="panel-heading">
    <h3 class="panel-title">Query string:</h3>
  </div>
  <div class="panel-body">
    <a href="{{querystring}}" target="_blank">{{querystring}}</a>
  </div>
</div>

<a id="about"></a>
<div class="footer">
  Built by Florian Rathgeber based on documentation of the
  <a href="http://data.parliament.uk/membersdataplatform/memberquery.aspx" target="_blank">
    UK Parliament - Members' Names Data Platform
  </a>
</div>
